{% extends 'nav_base.html' %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_title">Título:</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="id_description">Observacion:</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <label for="id_deadline">Fecha de Vencimiento:</label>
        {{ form.deadline }}
    </div>
    <div class="form-group">
        <label for="id_state">Estado:</label>
        {{ form.state }}
    </div>
    <div class="form-group">
        <label for="id_category">Categoría:</label>
        {{ form.category }}
    </div>
    <div class="form-group">
        <label for="id_etiquetas">Prioridad:</label>
        {{ form.etiquetas }}
    </div>
    <div class="form-group">
        <label for="id_assigned_user">Asignar a:</label>
        {{ form.assigned_user }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<a href="{% url 'tareas_pendientes_list' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}