{% extends 'nav_base.html' %}

{% block content %}
  <h2>Detalles de Tarea</h2>
  
  <p><strong>Título:</strong> {{ tarea.title }}</p>
  <p><strong>Observacion:</strong> {{ tarea.description }}</p>
  <p><strong>Fecha de Vencimiento:</strong> {{ tarea.deadline }}</p>
  <p><strong>Estado:</strong> {{ tarea.state }}</p>
  <!-- Otras detalles según sea necesario -->
  
  <a href="{% url 'editar_tarea' tarea.id %}" class="btn btn-warning">Editar</a>
  <a href="{% url 'eliminar_tarea' tarea.id %}" class="btn btn-danger">Eliminar</a>
  <a href="{% url 'tareas_pendientes_list' %}" class="btn btn-secondary">Retornar</a>
{% endblock %}